<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Productos</title>
</head>
<body>
  <h1>Lista de Productos</h1>
  {{#each products}}
    <div>
      <h2>{{name}}</h2>
      <p>Precio: {{price}}</p>
      <p>Categoría: {{category}}</p>
       <!-- Botón para agregar al carrito -->
    <form action="/carts/{{cartId}}/products/{{_id}}" method="post">
      <input type="number" name="quantity" value="1" min="1"> <!-- Campo de cantidad -->
      <button type="submit">Agregar al carrito</button>
    </form>+
      <a href="/products/{{_id}}">Ver detalles</a>
    </div>
  {{/each}}
  <!-- Botón de logout -->
<form action="/logout" method="POST">
  <button type="submit">Logout</button>
</form>


  <script>
    function addToCart(productId) {
      <!-- En products.handlebars -->
<button onclick="addToCart('{{productId}}')">Agregar al carrito</button>

    }
  </script>
</body>
</html>

