<form method="POST" action="/purchase/:cid">
  <!-- Campos para los detalles de la compra -->
  {{#each cartProducts}}
    <input type="hidden" name="products[]" value="{{productId}}">
    <input type="hidden" name="quantity[]" value="{{quantity}}">
    
  {{/each}}

  <input type="hidden" name="totalPrice" value="{{totalPrice}}">
  <input type="hidden" name="user" value="{{userId}}">
  <input type="hidden" name="date" value="{{purchaseDate}}">

  <button type="submit">Realizar Compra</button>
</form>



